.page {

    display: flex;
    justify-content: center;
}

.calculator-box {

    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 5px solid silver;
    width: 500px;
    height: auto;

}

#display {

    border: 5px solid silver;
    height: 100px;
    margin: 0px;
}

#button-holder {

    display: flex;
    justify-content: space-around;
    height: 200px;
    width: auto;

}