.page {

    display: flex;
    justify-content: center;
}

.calculator-box {

    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 5px solid silver;
    border-radius: 10px;
    width: 500px;
    height: auto;

}

#display {

    border: 5px solid silver;
    height: 100px;
    margin: 0px;
}

#button-holder {

    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    width: auto;
    flex-wrap: wrap;
    background-color: brown;
    border-radius: 10px;
    

}

.button {

    width: 60px;
    height: auto;
}
